.update{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 50px;
}

.inputSection{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 10px 0px 0px;
  font-size: 14px;
}

.inputLabel{
  color: #000000;
  font-family: lato;
  margin: 0px 0px 5px 0px;
}

.input{
  width: 88px;
  height: 35px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #979797;
  font-size: 14px;
  font-family: Avenir Next;
}

.updateButton{
  width: 145px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #979797;
  background-image: linear-gradient( #B9B9B9, #B3B3B3);
   box-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-weight: bold;
  font-size: 14px;
  color:#4A4A4A;
  text-shadow: 0px 1px white;
  font-family: Avenir Next;
}