.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#4A4A4A;
  font-family: Open Sans;
  font-weight: lighter;
}

hr{
  border: 1px solid #979797;
  width: 598px;
  margin: 56px 0px;
}
